

  .myPicture {
    border: 1px normal white;
    border-radius: 10px;
    width: 30%;
    height: 90%;
  }
  
  p {
    box-sizing: content-box;
    position: relative;
    left: 35%;
    top: 20px;
    max-width: 50%;
    text-align: left;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
  }

  .div {
    margin: 20px auto;
    display: flex;
    justify-content: left;
    align-items: top;
    width: 98%;
    height: 98%;
    overflow: hidden;
  }
  