

  .div {
    margin: 20px auto;
    display: flex;
    justify-content: left;
    align-items: top;
    width: 98%;
    height: 98%;
    overflow: hidden;
  }

  .div-text {
    margin: 0px 50px;
    display: flex;
    text-align: left;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
  }

  .image-style {
    border: 1px normal white;
    border-radius: 10px;
    width: 30%;
    height: 90%;
  }