.card {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 90px;
    border: 3px solid green;
    overflow: hidden;
} 

.cardy {
    
    border: 3px solid white;
    border-radius: 10px;
    position: relative;
    top: 50px;
    width: 90%;
    height: 33%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    font-size: 30px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}

.card-spacer {
    padding-top: 25px;
}

.text-div {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-left: 100px;
}
.image-class {
    max-height: 100%;
    width: 70%;
}









