* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .services,
  .products,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .experience {
    background-image: url('../src/images/img-4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 50px;
  }
  
  .projects {
    background-image: url('../src/images/img-9.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 50px;
  }
  .image-container {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }

  
  .page-name-aboutme {
    box-sizing: border-box;
    padding: 20px;
    color: #000000;
    font-size: 50px;
  }

  .page-name-projects {
    box-sizing: border-box;
    padding: 20px;
    color: #000000;
    font-size: 50px;
  }
  